# Compiled Object files
*.slo
*.lo
*.o
*.pdb
*.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

obj/
bin/

*.user